# for python==3.6
matplotlib
numpy
pillow
dataclasses
#pip install torch==1.9.0+cu111 torchvision==0.10.0+cu111 torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
opencv
scikit-learn
scikit-image
lpips
tensorflow-2.0.0 # or tensorflow-gpu